.group {
    border: 1px solid #444444;
    padding: 5px;
    margin-bottom: 25px;
    position: relative;
}

.group-btn {
    background-color: white;
    border: 1px solid #444444;
    border-radius: 0px;
}

.group-add-condition {
    float: right;
}

.condition-table {
    margin-bottom: 5px;
}

.group-remove {
    position: absolute;
    right: 15px;
    top: -17px;
    font-size: 8px;
    background-color: transparent;
    border: 1px solid #444444;
    border-bottom: none;
    border-radius: 0px;
}

.group-add {
    float: right;
}

.operator {
    border-right: 1px dashed #444444;
    height: 25px;
    width: 10px;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
}

.operator select {
    margin-left: 15px;
    margin-top: 3px;
}

.group-operator {
    margin-top: -31px;
    margin-left: -15px;
}